#container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    align-items: center;
}

#restore {
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #82DCFF;
    margin-left: 50px;
}
#restore:active {
    background-color: #33C6FF;
}

#delete {
    height: 25px;
    margin-left: 20px;
}