#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 1000px;
    height: 1000px;
    padding: 10px;
    font-size: large;
    font-family: inherit;
}

li {
    font-size: large;
    font-weight: 600;
}