#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 90vw;
    max-width: 1000px;
    height: 1000px;
    padding: 10px;
    font-size: large;
    font-family: inherit;
}

li {
    font-size: large;
    font-weight: 600;
}

#save {
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    font-size: medium;
    background-color: greenyellow;
}
#save:active {
    background-color: lightgreen;
}